.app__header {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
  }
}

.app__header-info {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 600px) {
    flex: 0;
    margin-top: 2rem;
  }

  .app__header-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .badge-cmp {
      padding: 1rem 2rem;
      background: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      width: 35vw;

      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 870px) {
        width: 50vw;
      }

      @media screen and (max-width: 600px) {
        width: 70vw;
      }

      .p-text {
        font-size: 1.2rem;
        letter-spacing: 3px;
        margin-right: 10px;

        @media screen and (max-width: 400px) {
          letter-spacing: .5px;
        }
      }

      .head-text {
        margin-left: 0.5rem;
        @media screen and (max-width: 400px) {
          margin-left: 0.1rem;
          font-size: 1.3rem;
        }
      }
    }

    .app__header-role {
      font-size: 1.5rem;
      margin: 1.3rem 1rem;
      margin-bottom: 0%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 750px) {
        margin: 1.1rem 0.5rem;
        font-size: 1.2rem;
      }

      img {
        width: 100px;
        margin: 0 1rem;
        border-radius: 10px;
        @media screen and (max-width: 750px) {
          width: 60px;
          margin: 0 0.5rem;
        }
      }
    }

    .btn__container {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}

.app__header-img {
  margin: 0 6rem;
  margin-left: 0%;
  width: 300px;
  height: 600px;
  border-radius: 10%;

  @media screen and (max-width: 600px) {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    width: 300px;
    height: 600px;
  }

  @media screen and (max-width: 910px) {
    width: 250px;
    height: 500px;
  }

  @media screen and (max-width: 870px) {
    margin-right: 3rem;
  }

  @media screen and (max-width: 680px) {
    margin-right: 1rem;
  }
}

.app__header-img-mobile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: none;

  @media screen and (max-width: 600px) {
    display: initial;
  }

  @media screen and (max-width: 400px) {
    width: 195px;
    height: 200px;
  }
}
